th {
    text-align: left;
    vertical-align: top;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}
td {
    text-align: left;
    vertical-align: top;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #e0e0e0;
}
th:hover {
    background-color: #AF4C50;
}
